<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="candor_style.css">
    <!--Call Angular Library-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="candor.js"></script>
<title>Straight Talk</title>
</head>
    
<body data-ng-app="discApp" data-ng-controller="discCtrl">
<!--This div creates the Angular app for this page and binds it to the controller discCtrl, which exists in the compass.js file-->
<header>
    <h1 id="name">{{name.name}}:</h1>     
</header>

<ul id="list">
    <li data-ng-repeat="x in name.msgList | orderBy: 'datetime'" 
        class="{{x.msgClass}}">
        {{x.text}}
        <div class="sentTime">{{x.datetime | date:'short'}}</div>
    </li>
    <li id="current" class="sent">{{typedMsg}}</li>
</ul>

<form name="msgBox">    
    <div id="keyboardBox">
        <input type="text" id="typeBox" data-ng-model="typedMsg" />
        <input type="submit" data-ng-click="sendMsg()"
           id="submit" value=">" />
<!--Eventually I need to make the send button an image-->
<!-- This is where the keyboard goes whenever I figure that out. -->
    </div>
</form>

</body>
</html>

