<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="compass_style.css">
    <!--Call Angular Library-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
    
<body data-ng-app="distApp" data-ng-controller="distCtrl">
<!--This div creates the Angular app for this page and binds it to the controlloer distCtrl, which exists in the compass.js file-->
<div id="distance"> 
<h1 id="demo">{{distance}}</h1>
</div>

<div id="buttonbar">
<button id="on" class="{{onClass}}" ng-click="on()">On</button>
<button id="off" class="{{offClass}}" ng-click="off()">Off</button>
</div>

<script>
    var app = angular.module('distApp', []);
    app.controller('distCtrl', function($scope) {
       $scope.distance = (84.2 + " m");
        
    });
</script>

</body>
</html>

